html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  font-style: normal;
  font-weight: 600;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #7B68EE;
}

.title {
  text-align: center;
  margin-top: 20px;
}
.title h1 {
  font-weight: 800;
  color: white;
}
.title span {
  text-transform: uppercase;
  text-decoration: underline;
  color: #00FFFF;
}

.figure__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure__container--rod {
  fill: #C71585;
}
.figure__container--head {
  stroke: #F1A5C0;
  fill: #F1A5C0;
}
.figure__container--body {
  fill: #F1A5C0;
}

.incorrect__container h3 {
  font-size: 1.2rem;
  color: #7FFFD4;
}
.incorrect__container span {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #800000;
  font-weight: 600;
}

.correct__container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.notification__container p {
  display: block;
  margin: 0;
}

.popup__container--body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.popup__container--text {
  flex-basis: calc(50% - 10px);
}
.popup__container--text p {
  display: block;
  font-weight: 600;
}
.popup__container--text p span {
  font-weight: 800;
  text-transform: uppercase;
  color: #8B4513;
}

.popup__container--image {
  flex-basis: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__container--image img {
  margin: 0 auto;
  max-width: 50%;
}

.popup__container--button {
  width: 80%;
}
.popup__container--button p {
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #008B8B;
}

.keyboard__container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard__container--buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-evenly;
  gap: 10px 5px;
}
.keyboard__container--button {
  align-self: center;
}
.keyboard__container--button p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: black;
}

.display__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.display__container--letters {
  margin-top: 100px;
  flex-basis: calc(100% - 430px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 940px) {
  .figure__container svg {
    width: 350px;
  }
  .display__container--letters {
    flex-basis: calc(100% - 380px);
  }
}
@media (max-width: 850px) {
  .notification__container {
    width: 95%;
  }
}
@media (max-width: 801px) {
  .display__container--letters {
    max-width: 300px;
  }
}
@media (max-width: 747px) {
  .display__container--letters {
    max-width: 250px;
  }
}
@media (max-width: 693px) {
  .display__container--letters {
    max-width: 200px;
  }
}
@media (max-width: 639px) {
  .display__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .display__container--letters {
    margin-top: 30px;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .keyboard__container--buttons {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 364px) {
  .figure__container svg {
    width: 300px;
  }
}
@media (max-width: 314px) {
  .figure__container svg {
    width: 280px;
  }
}/*# sourceMappingURL=style.css.map */